<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Acceuil{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body class="{% block body_class %}{% endblock %}">
        {% block header %}
            <header>
                {% block navbar %}
                    <nav class="navbar">
                        <div class="logo">
                            <img src="{{asset('/images/backgrounds/logo.png')}}" alt="">
                        </div>
                        
                        <nav class="nav-links">
                            <a href="{{ path('app_home') }}">Accueil</a>
                        </nav>

                        <div class="auth-links">
                            {% if app.user %}
                                <a href="{{ path('app_team_builder') }}" class="btn btn-primary" >Lancer une partie</a>
                                <a href="{{ path('me_matches') }}" class="btn btn-primary" >Lancer une partie</a>
                                <form action="{{ path('app_logout') }}" method="post">
                                
                                <a href="{{ path('app_logout') }}">🚪 Déconnexion</a>
                                </form>
                                {% if is_granted('ROLE_ADMIN') %}
                                    <a href="{{ path('admin') }}">🛠 Administration</a></li>
                                {% endif %}
                            {% else %}
                                <a href="{{ path('app_register') }}">Inscription</a>
                                <a href="{{ path('app_login') }}">Connexion</a>
                            {% endif %}
                        </div>
                    </nav>
                {% endblock %}
            </header>
        {% endblock %}
        {% block main %}{% endblock %}
        {% block footer %}
            <footer>
                <div class="footer-content">
                    <p>&copy; 2025 MagicalArena. Tous droits réservés.</p>
                    <p>Conçu par 
                        <a href="https://github.com/poutou89">Poutou89</a>
                        <a href="https://github.com/WeskerResidente">Wesker</a>
                    </p>
                    <div class="legal">
                        <ul>
                            <li><a class="btn" href="{{ path('app_cgu') }}">Conditions général d'utilisation</a></li>
                            <li><a class="btn" href="{{ path('app_cookies') }}">Cookies</a></li>
                            <li><a class="btn" href="{{ path('app_mentions_legales') }}">Mentions légales</a></li>
                            <li><a class="btn" href="{{ path('app_politique_de_confidentialite') }}">Politique de confidentialité</a></li>
                        </ul>
                    </div>
            </footer>
        {% endblock %}
    </body>

</html>
 <script>
// document.addEventListener('DOMContentLoaded', () => {
//   const navbar = document.querySelector('.navbar');
//   const toggle  = document.querySelector('.menu-toggle');

//   if (navbar && toggle) {
//     toggle.addEventListener('click', () => {
//       navbar.classList.toggle('open');
//     });
//   }
// });
// </script>
